# Ansible Collection - ge.{{ collection_name }}

Documentation for the collection

## Published Artifact location

## Versioning
Collection versions should match Product Versions, to make it easier to identify the version to use. However, Ansible Collection versioning must use semantic versioning standards - https://semver.org/. If your Product doesn't already follow these, this represents a strong reason to update your approach to Product versioning at the earliest opportunity.
If, for any reason, you cannot standardise Product versioning, identify here how versioning relates to Product versioning (i.e. the version of the Product for which this Collection provides automation)

## Known Limitations / TODOs
Capture here anything that is known not to work at present, or that a user might reasonably expect to be in scope, but is not.

## Dependencies
Identify other Collections on which this collection is dependent.